{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sportify - Crear Actividad</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles_app.css' %}">
</head>
<body>
    <div class="login-container">
        <p class="subtitulo">Nueva Actividad (Admin)</p>

        {% if messages %}
            {% for message in messages %}
                <div style="color: {% if message.tags == 'error' %}#ff3333{% else %}#00ff88{% endif %}; margin-bottom: 15px;">
                    {{ message }}
                    <span onclick="this.parentElement.style.display='none';" style="position: absolute; right: 10px; top: 10px; cursor: pointer; font-weight: bold;">
                            &times;
                        </span>
                    </div>
                {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label>Nombre de la Actividad</label>
                <input type="text" name="nombre" placeholder="Ej: Básquet, Crossfit, Zumba" required>
            </div>
            <button type="submit">CREAR ACTIVIDAD</button>
        </form>
        <br>
        <a href="{% url 'crear_clase' %}" style="color: #00ff88; text-decoration: none;">Ir a crear clase →</a>
    </div>
</body>
</html>