{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sportify</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

    <div class="overlay"></div>

    <div class="login-container">

        <!-- LOGO -->
        <img
            src="{% static 'img/logo_Sportify.png' %}"
            class="logo"
        >

        <!-- SUBTITULO -->
        <p class="subtitulo">
            Iniciar sesión
        </p>

        <!-- FORM -->
        <form>

            <div class="input-group">

                <label>
                    DNI
                </label>

                <input
                    type="text"
                    placeholder="Ingrese su DNI"
                >

            </div>


            <div class="input-group">

                <label>
                    Contraseña
                </label>

                <input
                    type="password"
                    placeholder="Ingrese su contraseña"
                >

            </div>

            <a href="#" class="forgot">
                ¿Olvidaste tu contraseña?
            </a>

            <button type="submit">
                INICIAR SESIÓN
            </button>

        </form>

        <!-- REGISTRO -->
        <div class="registro-texto">

            ¿No tienes una cuenta?

            <a href="/register/">
                Regístrate
            </a>

        </div>

    </div>

</body>

</html>