{% load static %}

<!DOCTYPE html>

<html lang="es">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Recuperar Contraseña - Sportify</title>

<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

<div class="overlay"></div>

<div class="login-container">

    <img
        src="{% static 'img/logo_Sportify.png' %}"
        class="logo"
    >

    <p class="subtitulo">
        Recuperar contraseña
    </p>
    {% if mensaje_exito %}

        <div class="success-message">

            {{ mensaje_exito }}

        </div>

   {% endif %}
   <script>

       setTimeout(() => {

           const mensajeExito = document.querySelector(
               '.success-message'
           );

           if(mensajeExito){

               mensajeExito.style.transition =
                   'opacity 0.5s ease';

               mensajeExito.style.opacity = '0';

               setTimeout(() => {

                   mensajeExito.remove();

               }, 500);
           }

       }, 3000);

   </script>

    <form method="POST" novalidate>

        {% csrf_token %}

        <div class="input-group">

            <label>Correo electrónico</label>

            <input
                type="email"
                name="email"
                placeholder="Ingrese su correo"
                required
            >

            {% if errores.email %}

                <span class="error-campo">
                    {{ errores.email }}
                </span>

            {% endif %}

        </div>
    

        <button type="submit">

            RECUPERAR CONTRASEÑA

        </button>

    </form>

    <div class="registro-texto">

        <a href="{% url 'login' %}">
            Volver al inicio de sesión
        </a>

    </div>

</div>

</body>

</html>
